<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="../public/css/styles.css">
</head>

<body>
  <h1 class="title">Hello</h1>
  <footer>
    <a href="catform.html">Add some info about your cat</a>
    <p>No Copyright - <a href="https://www.freecodecamp.org" target="_blank">freeCodeCamp.org</a></p>
  </footer>
</body>

</html>